{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true,
    "webextensions": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:react/recommended"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module",
    "ecmaVersion": 2020
  },
  "rules": {
    "linebreak-style": ["error", "unix"]
  }
}
