name: Build and test
on: [push, pull_request]
jobs:
  test:
    if: |
      !startsWith(github.ref, 'refs/tags')
    name: Generate build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v1
        with:
          node-version: "18"
      - run: yarn install
      - run: yarn run build chrome
      - run: yarn run build firefox
